:root {
  --background-color: #e5e5e5;
  --background-white: #f5f4fa;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-shadow: rgba(0, 0, 0, 0.25);
  --color-black-modal: rgba(46, 47, 66, 0.4);
  --color-blue: #2196f3;
  --color-blue-button: #4d5ae5;
  --color-blue-button-hover: #404bbf;
  --color-grey: #757575;
  --color-dark-grey: #2f303a;
  --color-social: #afb1b8;
  --color-ocean: #2196f3;
  --color-footer-mobile: #d9d9d9;

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Relaway', sans-serif;
  --normal-text-color: #212121;
  --paragraph-text-color: #757575;
  --icons: #8e8f99;
  --link-color: #2196f3;
  --modal-close: #e7e9fc;
  --color-footer-info: rgba(255, 255, 255, 0.6);
  --card-image-color: rgba(33, 150, 243, 0.9);
  --secondary-background-color: #2f303a;
  --social-links-footer: #ffffff1a;
  --title-h3: rgba(33, 33, 33, 1);
  --tr-function: cubic-bezier(0.4, 0, 0.2, 1);
  --portfolio-hover: rgba(0, 0, 0, 0.16);
  --border-box-portfolio: rgba(238, 238, 238, 1);
  --button-portfolio: #00000040;
  --tr-duration: 250ms;
  --tr-transition: var(--tr-function) var(--tr-duration);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.section {
  padding-top: 72px;
  padding-bottom: 72px;
}
.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--main-font);
  color: var(--normal-text-color);
  overflow-x: hidden;
}

/* ============================================HEADER=========== */
header {
  border-bottom: 1px solid #ececec;
  padding: 0;
}

.nav,
.menu,
.contact {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  column-gap: ;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.studio {
  font-family: var(--secondary-font);
  color: var(--color-black);
}
.menu {
  display: flex;
  align-items: center;
  column-gap: ;
}
.menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--normal-text-color);
}
.menu-item .menu-mobile:hover {
  color: var(--link-color);
  transition: var(--tr-transition);
  position: relative;
}
.current-page {
  position: relative;
  display: flex;
  color: var(--color-blue-button);
}
.current-page::after {
  content: '';
  background-color: var(--color-blue-button);
  height: 4px;
  width: 100%;
  bottom: -32px;
  left: 0px;
  border-radius: 2px;
  position: absolute;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}
.phone {
  margin-right: 10px;
  color: var(--color-grey);
  cursor: pointer;
  top: 34px;
  border-radius: 0px;
  margin-right: 10px;
}
.phone-1 {
  margin-right: 10px;
  color: var(--color-grey);
  cursor: pointer;
}
.contact-item:hover {
  color: var(--link-color);
  transition: var(--tr-transition);
}

/* =====================================INDEX============== */
.main-section {
  background-image: radial-gradient(rgba(47, 48, 58, 0.4) 100%, rgba(255, 255, 255, 0) 0%),
    url(../images/background.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.container-slogan {
  text-align: center;
}
.slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  padding-top: 104px;
  text-align: center;
}
.blue-button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  border: none;
  background-color: var(--color-blue-button);
  padding: 10px 40px;
  margin: 50px 0 104px;
  border-radius: 4px;
  box-shadow: 1px 4px 6px 0px var(--color-black) 0.16;
  align-items: center;
  justify-content: center;
}
.blue-button:hover {
  background-color: var(--color-blue-button-hover);
  box-shadow: 1px 4px 6px 0px var(--color-black) 0.16;
  transition: var(--tr-transition);
}
.l-i-container {
  background-color: var(--background-white);
  height: 120px;
  width: 270px;
  gap: 72 px;

  border-radius: 4px;
}
.l-i-icons1 {
  margin: 25px 102.34px;
}
.l-i-icons2 {
  margin: 25px 100px;
}

.lorem {
  padding-bottom: 0;
  line-height: 1.14;
}
.paragraphs-container {
  display: flex;
  flex-direction: column;
}
.paragraphs-title {
  width: 396px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.paragraphs-text {
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  padding-top: 10px;
  margin-bottom: 72px;
  text-align: left;
  height: auto;
  gap: 8px;
}
.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-white);
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.paragraphs-container-secondary {
  gap: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-team-image {
  justify-content: center;
  width: 264px;
  box-shadow: 0px 4px 4px 0px var(--color-black-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}
.name {
  font-size: 16px;
  padding-top: 30px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
  text-align: center;
}
.describe-name {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  text-align: center;
}
.social-container {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.box-customers {
  fill: var(--icons);
  border: 1px solid var(--icons);
  height: 88.041015625px;
  width: 170px;
  border-radius: 4px;
  padding: 14px 32px 14px 32px;
}

.custumers-container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.custumers-container li {
  padding-top: 25px;
  padding-bottom: 25px;
}
.customers {
  width: 106px;
  height: 60.04px;
}
.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  border: 0px solid;
  fill: var(--color-social);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
/*.social-links-position {
  position: absolute;
}*/
.social-links:hover {
  display: flex;
  fill: var(--color-white);
  background-color: var(--link-color);
  border-radius: 50%;
  cursor: pointer;
  /*transition-duration: 250ms;*/
}
.box-customers:hover {
  fill: var(--color-blue);
  cursor: pointer;
  border-color: var(--color-blue);
  transition: var(--tr-transition);
}
/*===========================================PORTFOLIO===========*/
.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}
.button-portfolio {
  height: 38px;
  width: 114px;
  left: 740px;
  top: 174px;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: var(--background-white);
  border: 0px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
}
.button-portfolio:hover {
  color: var(--color-white);
  background-color: var(--link-color);
  box-shadow: 0px 4px 4px 0px var(--button-portfolio);
  transition: var(--tr-transition);
}
.button-portfolio:hover {
  box-shadow: 0px 4px 4px 0px var(--button-portfolio);
  transition: var(--tr-transition);
}
.portfolio-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.box-portfolio {
  border: 1px solid var(--boreder-box-portfolio);
}
/*.card-size {
}*/
.box-portfolio:hover {
  box-shadow: 1px 4px 6px 0px var(--portfolio-hover);
  transition: var(--tr-transition);
}
.title-h3 {
  font-family: var(--main-font);
  color: var(--title-h3);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
}
.description-image {
  color: var(--color-grey);
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

/* ===========================================FOOTER============== */
/*TEXT*/
.footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background-color: var(--color-dark-grey);
  height: 664px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.footer-flex {
  margin-left: auto;
  margin-right: auto;
  width: 268px;
  height: 112px;
  padding-top: 25px;
  text-align: center;
  gap: 30px;
}
.logo-footer {
  padding-bottom: 16px;
}
.footer-flex p {
  padding-top: 16px;
  text-align: left;
  color: var(--color-white);
  text-align: left;
}

.studio-footer {
  color: var(--color-white);
}

/*SOCIAL*/
.footer-social-container {
  margin-top: 60px;
  height: 80px;
  width: 208px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
.footer-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
  padding-bottom: 16px;
}

.social-links-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background: var(--social-links-footer);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.footer-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-links-footer:hover {
  display: flex;
  fill: var(--color-white);
  background-color: var(--link-color);
  cursor: pointer;
  border-radius: 50%;
  transition: var(--tr-transition);
}
.position-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*EMAIL INPUT*/
.form-f {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 398px;
  height: 136px;
  gap: 30px;
  margin-top: 72px;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

/*--------------------------------NAKLADKA NA OKNO-----------------*/

body {
  font-family: sans-serif;
}
.card {
  max-width: 30vw;
}
img {
  max-width: 100%;
}
.card-image-wrapper {
  position: relative;
  overflow: hidden;
}
.card-image-wrapper > img {
  width: 100%;
  height: 100;
  object-fit: cover;
}
.box-image {
  margin-left: 35px;
  margin-right: 36px;
  margin-top: 49px;
  width: 301px;
  height: 196px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}
.card-image-description {
  position: absolute;
  inset: 0;
  background-color: var(--cardimage0color);
  color: var(--color-white);
  translate: 0 100% 0;
  transition: var(--tr-duration);
  text-align: center;
}
.card:hover .card-image-description {
  translate: 0;
  /*.card-image-description > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
}
/*--------------------------------------------MODAL-----------------*/
.modal {
  position: fixed;
  inset: 0;
  background-color: var(--color-black-modal);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: var(--tr-duration);
  display: flex;
  justify-content: center;
}
.modal-body {
  position: relative;
  width: 392px;
  height: auto;
  border: none;
  margin: auto;
  background-color: var(--color-white);
  translate: (-50%, -50%);
  padding-left: 16px;
  padding-right: 16px;
}
.modal-close {
  display: absolute;
  width: 24px;
  height: 24px;
  position: absolute;
  inset: 1em 1em auto auto;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
/*.icon-x {
  display: flex;
  position: absolute;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}*/

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is.hidden .modal-body {
  scale: 0;
}
.modal:not(.is-hidden) .modal-body {
  scale: 1;
}
.field-wrapper > input {
  flex-grow: 1;
}
input:focus,
textarea:focus {
  border-color: var(--color-blue-button);
  outline: none;
}

.field-wrapper:focus-within {
  fill: var(--color-blue-button);
  border-color: var(--color-blue-button);
}
form {
}
.leave {
  justify-content: center;
  margin-top: 24px;
}
.field-wrapper > * {
  display: block;
}
.label {
  justify-content: left;
}
textarea,
input,
select {
  border: 2px solid var(--icons);
  border-radius: 7px;
  padding: 8px;
  resize: none;
}
.comment-ta {
  height: 120px;
}
::placeholder textarea {
  color: var(--icons);
}
.field-wrapper > input:not([type='checkbox']),
.field-wrapper > select,
.field-wrapper > textarea {
  display: block;
  width: 100%;
}

.field-wrapper > label {
  width: 100%;
  text-align: left;
}
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blue-button-send {
  width: 169px;
  height: 56px;
  justify-content: center;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  border: none;
  background-color: var(--color-blue-button);
  border-radius: 4px;
  box-shadow: 1px 4px 6px 0px var(--color-black) 0.16;
  padding-bottom: 5px;
}
.subscribe-footer {
  margin-top: 100px;
  width: 453px;
  height: 80px;
}
.blue-button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  border: none;
  background-color: var(--color-blue-button);
  border-radius: 4px;
  box-shadow: 1px 4px 6px 0px var(--color-black) 0.16;
  cursor: pointer;

  transition: var(--tr-transition);
}
.blue-button-subscribe:hover {
  background-color: var(--color-blue-button-hover);
  box-shadow: 1px 4px 6px 0px var(--color-black) 0.16;
  transition: var(--tr-transition);
  cursor: pointer;
}
.blue-button-send:hover {
  background-color: var(--color-blue-button-hover);
  box-shadow: 1px 4px 6px 0px var(--color-black) 0.16;
  transition: var(--tr-transition);
  cursor: pointer;
}
.input-email {
  display: flex;
  justify-content: cen ter;
  width: 398px;
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--background-white);
  margin-left: auto;
  margin-right: auto;
}
/*.footer-flex-label {
}*/
.input-email::placeholder {
  color: var(--color-white);
}
.tc {
  width: 360px;
  height: 16px;
  display: flex;
  display: inline;
}
.privacy-link {
  text-decoration: underline;
  color: var(--color-blue-button);
  display: inline;
}
.app {
  color: var(--icons);
}
label {
  color: var(--icons);
  display: flex;
  flex-direction: row;
}
.button-modal-send {
  padding-top: 15px;
}
label > select {
  border-color: var(--color-blue);
}
.icon-label {
  left: 16px;
  top: 7px;
}
.icon-label-person {
  position: absolute;
  left: 16px;
  top: 11px;
}
.icon-label:hover {
  fill: var(--color-blue-button);
}
.icon-label-person:hover {
  fill: var(--color-blue-button);
}
.field-wrapper {
  position: relative;
}
.label-position {
  text-align: left;
  margin-top: 7px;
}
.cursor-space {
  padding-left: 34px;
}
.checkbox {
  width: 16px;
  height: 16px;
}

/*--------------------------------------------------------------MOBILE*/

.nav-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.menu-wrapper {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: var(--color-white);
  z-index: 999;

  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.menu-wrapper.is-open {
  transform: translateY(0);
}
.menu-button {
  position: absolute;
  inset: 1em 1em auto auto;
}
.menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.menu,
.contact,
.l-i-container,
.what-we-do {
  display: none;
}
.footer p {
  color: var(--color-footer-mobile);
}
.customers-box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 396px;
  height: 520px;
}
.customers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.customers-container li {
  margin-top: 72px;
  margin-bottom: 72px;
  width: 190px;
  height: 88px;
}

.subscribe-tablet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}

/*---------------mobile menu--------*/
.nav-button {
  background-color: var(--color-white);
  border: none;
}
.menu-mobile-nav {
  margin-bottom: 120px;
  row-gap: 50px;
}
.menu-mobile-nav li {
  margin-left: 20px;
  margin-top: 40px;
}
.mobile-menu-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  row-gap: 20px;
}
.mobile-social-container {
  margin-top: 40px;
  justify-content: space-between;
  padding: 0%;
  margin-left: 20px;
}
.menu-mobile-nav li a:hover {
  color: var(--link-color);
  transition: var(--tr-transition);
  position: relative;
}
/*-----------------------------------TABLET-*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    padding: 0;
  }
  .menu,
  .contact {
    display: block;
  }
  .nav-button {
    display: none;
  }
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .nav {
    display: flex;
    column-gap: 20px;
    justify-content: center;
  }
  .menu {
    display: flex;
    align-items: center;
    column-gap: 46px;
  }
  .modal-body {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
  }
  .lorem {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
  }
  .paragraphs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 2;
    column-gap: 24px;
  }
  .paragraphs-container li {
    width: 356px;
  }

  .paragraphs-title {
    width: 264px;
    display: flex;
    justify-content: start;
    margin-top: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  .paragraphs-text {
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: var(--paragraph-text-color);
    padding-top: 10px;
    margin-bottom: 72px;
    text-align: left;
    height: auto;
    gap: 8px;
  }
  /*------------------team-*/
  .paragraphs-container-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    column-gap: 40px;
  }

  .paragraphs-container-secondary li .l-i-container {
    background-color: var(--background-white);
    height: auto;
    width: 356px;
    gap: 72px;
  }

  /*--------------------CUSTOMERS-*/
  .customers-box {
    width: 552px;
    height: 360px;
  }
  .customers-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/

    column-count: 3;
    row-gap: 72px;
    column-gap: 24px;
  }
  .customers-container li {
    width: 168px;
    height: 88px;
  }

  /*-----------------------footer-------------*/
  .container {
    width: 768px;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer {
    height: 456px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .subscribe-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 16px;
  }
  .blue-button-subscribe {
    margin-left: 40px;
    align-items: center;
  }
  .footer-flex {
    width: 264px;
    height: 112px;
    text-align: left;
  }
  .footer-social-container {
    width: 208px;
    height: 80px;
  }
  .form-f {
    margin-left: 60px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 453px;
    height: 80px;
  }

  .footer-title {
    text-align: left;
  }
}
/*------------------------------------------*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
  }
  .l-i-container,
  .what-we-do {
    display: block;
  }
  .nav {
    column-gap: 93px;
    justify-content: ;
  }
  .paragraphs-container {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
